<div class="w-[290px] flex flex-col bg-gray-100 h-full rounded-xl pl-3 pr-3">
  <div class="flex justify-between mt-10">
    <div class="font-sans-serif font-medium text-2xl">Menu</div>
    <div><img src="assets/menu-svgrepo-com.svg" height="30" width="30"/></div>
  </div>
  <app-search class="mt-4"></app-search>
  <div class="mt-4">
    <span class="text-xs font-bold">TASKS</span>
    <app-nav-bar-item className="w-[50px]" url="assets/next-998-svgrepo-com.svg"  name="Upcoming"></app-nav-bar-item>
  </div>
</div>
